/* http://learnlayout.com/position.html */

body {
  background-color: seashell;
  margin: 0;
  padding: 0;

}

header {
  margin-bottom: 50px;
  text-align: center;
}

.wrapper {
  position: relative;
  width: 700px;

}

section {
  margin-left: 200px;
}

nav {
  width: 120px;
position: absolute;
top: 30;
left: 0;
background-color: burlywood;


}


.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;


}
